body {
    margin: 0;
    padding: 0;   
}

.Fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
    
}

/*BOTON INICIO */

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Gilroy-Bold', sans-serif;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    position: relative;
    margin: 0 32px;
    top: -730px;
    left: 650px;
}

.btn-1 {
    color: #ffffff;
    border-radius: 50px;
    transform: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(10, 218, 200, 0.5), 0 0 0 0 rgba(47, 242, 69, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.btn-1::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #43e97b;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-1:hover{
    transform: translate(0,-8px); /*boton sube*/
    box-shadow: 10px -10px 25px 0 rgba(47, 242, 69, 0.5), -10px 10px 25px 0 rgba(10, 218, 200, 0.5);
}

.btn:hover::after{
    transform: rotate(150deg);
}

.Descripcion {
    text-align: left ; /* Centra el texto horizontalmente */
    position: relative;
    bottom: -125px; /* Coloca el párrafo en la parte inferior */
    left: 80px; /* Alinea el centro del párrafo con el centro del contenedor */
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
    padding: 0px; /* Añade espacio alrededor del texto */
    font-size: 35px;
    width: 60%;
    font-family: 'Gilroy-Regular', sans-serif;
}

.bold {
    font-family: 'Gilroy-bold', sans-serif;
}

.creador img{
    width: 450px;
    height: auto;
    position: relative;
    top: 50px;
    left: 35%;
}

.decoracion {
    position: relative;/* Asegura que el contenedor tenga un posicionamiento relativo */
}

.decoracion img {
    position: absolute;
    width: 25%;
    height: auto;
    left: 68%;
    bottom: 0%;
    transform: translate(0%, 30%); /* Ajusta la posición vertical utilizando transform */
}   



@media only screen and (max-width: 768px) {
    
    .creador img {
    width: 300px; /* Tamaño reducido para pantallas más pequeñas */
    top: 30px; /* Ajustar la posición vertical si es necesario */
    left: 40px; /* Ajustar la posición horizontal si es necesario */
    }

    .btn {
    font-family: 'Gilroy-Bold', sans-serif;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    position: absolute;
    margin: 0 32px;
    top: 100px;
    left: 100px;
    }
    .decoracion img {
        width: 60%;
        height: auto; 
        position: absolute;
        top: 100px;
        left: 80px;
    }
}
